body {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 15px;
	line-height: 1.5;
	color: #24292e;
}

p {
	max-width: 800px;
}
